NET "KEYBOARD_CLK" LOC = "R12";
NET "KEYBOARD_DATA" LOC = "P11";

NET "CLK" LOC = "B8";

NET "BCD_CODE(0)" LOC = "L18";
NET "BCD_CODE(1)" LOC = "F18";
NET "BCD_CODE(2)" LOC = "D17";
NET "BCD_CODE(3)" LOC = "D16";
NET "BCD_CODE(4)" LOC = "G14";
NET "BCD_CODE(5)" LOC = "J17";
NET "BCD_CODE(6)" LOC = "H14";
NET "BCD_CODE(7)" LOC = "C17";

NET "BCD_ENABLE(0)" LOC = "F17";
NET "BCD_ENABLE(1)" LOC = "H17";
NET "BCD_ENABLE(2)" LOC = "C18";
NET "BCD_ENABLE(3)" LOC = "F15";